.home-page-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.home-page-body img{
    width: 80%;
}

.home-page-body .ui-top{
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}

.home-page-body .ui-top .ui-subTitle{
    width: max-content;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.home-page-body .ui-top .ui-subTitle::before,
.home-page-body .ui-top .ui-subTitle::after{
    content: "";
    height: 1px;
    width: 80px;
    top: 50%;
    transform: translateY(-50%);
    background: red;
    position: absolute;
}

.home-page-body .ui-top .ui-subTitle::before{left: -100px}
.home-page-body .ui-top .ui-subTitle::after{right: -100px}

.home-page-body .ui-top .ui-title{
    font-size: 60px;
    margin-bottom: 0;
}
