.train-info, .seat-selection-info, .seat-selection, .footer-area {
    width: 100%;
    }

.train-info img, .seat-selection-info img, .seat-selection img, .footer-area img {
    width: 100%;
    }

.train-info{
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    border-radius: 15px;
    }

.train-info i{font-size: 24px}
.train-info .ui-top{
    font-size: 18px;
    }

.train-info button{
    padding: 12px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    }

.train-info .ui-header{
    color: #111b77;
    }

.passenger-details, .seat-selection {
    background-color: #fff;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    }

.passenger-details-header > h5 {
    color: #00008c;
    font-size: 18px;
    }

.passenger-details-body {
    padding-right: 60px;
    }

.passenger-details-footer {
    margin-top: 60px;
    }

.passenger-details-footer .go-payment {
    padding: 8px 25px;
    font-weight: 600;
    }

.passenger-details-plus-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #027E5B;
    border-radius: 35px;
    position: relative;
    }

.passenger-details-plus-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #027E5B;
    }

.passenger-details .passenger-details-plus-button {
    display: flex;
    font-weight: 600;
    color: #027E5B;
    }

.passenger-details .passenger-details-plus-button:hover {
    text-decoration: none;
    }

.add-passenger-text {
    display: inline-block;
    padding-left: 10px;
    }

.seat-selection-info {
    background-color: #F4F5F9;
    border-radius: 8px;
    padding: 30px;
    }

.seat-selection-info h4, .seat-selection-info p {
    font-weight: 400;
    margin-bottom: 0;
    }

.seat-selection-info h4 {
    font-size: 20px;
    }

.seat-selection-symbol {
    width: 40px;
    height: 20px;
    margin-left: 10px;
    }

.seat-selection-red-symbol {
    background-color: #fe838f;
    }

.seat-selection-green-symbol {
    background-color: #34da90;
    }

.seat-selection-black-symbol {
    background-color: #000;
    }

.seat-selection-coach-id-text {
    font-weight: 600;
    }

.seat-selection-coach-number-first, .seat-selection-coach-number-second, .seat-selection-coach-number-third {
    margin-left: 20px;
    width: 50px;
    height: 30px;
    padding: 2px;
    font-weight: 600;
    }

.seat-selection-coach-number-first {
    border: 1px solid green;
    }

.seat-selection-coach-number-second, .seat-selection-coach-number-third {
    background-color: #9E9E9E;
    color: #fff;
    }

.ui-train-container{
    width: 1000px;
    height: 390px;
    background: #095132;
    border-radius: 13px;
    margin-left: 5%;
    padding: 8px 20px;
    position: relative;
    }

.ui-train-container::before,
.ui-train-container::after{
    content: "";
    width: 20px;
    height: 180px;
    background: #095132;
    position: absolute;
    top: 50%;
    border-radius: 30px;
    transform: translateY(-50%);
    }

.ui-train-container::before{left: -18px}
.ui-train-container::after{right: -18px}

.ui-train-container .ui-train-subContainer{
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background: white;
    display: flex;
    justify-content: space-between;
    }

.ui-train-container .ui-toilet{
    height: 150px;
    border: 1px solid #444;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }


.ui-train-container .ui-sits{
    display: flex;
    margin-right: 5%;
    }

.ui-train-container .ui-singleSit{
    display: flex;
    height: 130px;
    width: 40px;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
    color: white;
    }

.ui-train-container .bg-green{background: #34da90}
.ui-train-container .bg-red{background: #fe838f}

.ui-train-container .ui-overlay::before{
    content: "";
    width: 96%;
    height: 96%;
    position: absolute;
    border-radius: 13px;
    background: rgba(154, 154, 154, .9);
    }

.seat-selection #valOne,
.seat-selection #valTwo{
    color: green !important;
    }



@media only screen and (max-width: 1600px){
    .ui-train-container{
        width: 850px !important;
        }
    .ui-train-container .ui-sits{
        margin-right: 3% !important;
        }
    }

@media only screen and (max-width: 1400px){
    }

.coach-legend-area {
    padding: 20px;
    }
